transformers>=4.43.3
tokenizers>=0.19.1
accelerate
safetensors
runpod
protobuf>=4.25.3
sentencepiece           # harmless; not used if fast tokenizer is present
tiktoken>=0.7.0         # harmless; not used if fast tokenizer is present
